@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: rgb(232, 232, 232);
}

.conteudo {
    display: flex;
    
}


.conteudo img {
    width: 125px;
    height: 105px;
    margin-left: 10%;
}

.conteudo h1 {
    text-align: center;
    width: 73%;
    margin-top: 5%;
    font-size: 52px;
    color: #abb0df;
    margin: auto;
    font-family: "Oswald", sans-serif;
   
    text-shadow: 3px 3px 10px #020270,
                -3px -3px 10px #1d1d1d;
    
}

.curiosidades h2 {
    text-align: center;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: Bold 700;
    font-size: 20px;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
    color: #01074c;
}

.conteudo2 {
    background-color:  rgb(232, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;

}


.carrossel {
    filter: drop-shadow(0px 0px 10px #000);
    overflow: hidden;
    width: 1000px;
    height: 600px;
    margin-left: 16%;
}

.container {
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}


.container img {
    margin-top: -100px;
    width: 1000px;
    height: 740px;
   
}
